$main-color: #E4B564;
$second-color: #D6AF76;
$background-color: rgba(#B18037, 0.80);
$dark-background: #151515;
$second-dark-background: #0E0E0E;
$checked-color: #7a6237;
$transition: all .3s ease;
$text-color: #fff;
$project-complete: #69CE6D;
$project-not-complete: #E4B564;
$navigation: #606060;

@import './base/_libs';
@import './base/_fonts';
@import './base/_global';


* {
    font-family: Circe;
    color: $text-color;
}
body {
    background-color: $dark-background;
}
img {
    display: inline-block;
    width: 100%;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
    position: relative;
}

@import './block/header';
@import './block/menu';
@import './block/mainSection';
@import './block/projects';
@import './block/vacancies';
@import './block/contacts';
@import './block/timing';
@import './block/take-over';
@import './block/suppliers';
@import './block/technics';
@import './block/water-supply';
@import './block/sewerage';
@import './block/landscaping';
@import './block/heatingNetwork';
@import './block//doing-work.scss';
@import './block/form';
@import './block/footer';
@import './block/popup';


@import './base/media';