.main-principles {
    height: 100vh;
    position: relative;
    &-slider {
        height: 730px;
        width: 795px;

    }
    &-description {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 200px;
        background: #202020;
    }
    &-text {
        display: flex;
        justify-content: center;
        &_title {
            top: 30px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            width: 100%;
            text-align: center;
            z-index: 5;
        }
        &_subtitle {
            font-weight: 350;
            font-size: 16px;
            line-height: 20px;
            padding-top: 60px;
            color: rgba(#fff, 0.8)
        }
    }
    &_item {
        &-img {
            width: 80px;
            height: 80px;
        }
    }
    &-technic {
        &_wrapper {
            height: 730px;
            width: 650px;
        }
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 120px;
    }
    &_item {
        display: flex;
        align-items: flex-start;
        padding-bottom: 40px;
        &_text {
            padding-left: 30px;
            span {
                display: block;
                position: relative;
                margin-top: 15px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -19px;
                    background-color: #fff;
                }
            }
        }

    }
}
