.take-over {
	background-color: $second-dark-background;
	padding: 100px 0 100px 0;
	&_wrapper {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 50px;
		column-gap: 40px;
		position: relative;
		&::after {
			content: url('../../img/arrow-down.svg');
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 50px;
			height: 50px;
		}
	}
	&_item {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 3fr auto;
		align-items: center;
	}
	&_descr {
		text-align: left;
		max-width: 170px;
	}
	&_img {
		width: 75px;
		height: 75px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&_arrow-down {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 20px 0;
	}
	&_arrow,
	&_arrow-down {
		width: 50px;
		height: 50px;
	}
}
