.technics {
    padding: 130px 0 80px;
    position: relative;
    &_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        margin: 50px 0 0 50px;
        span {
            display: block;
            font-weight: 700;
        }
    }
    &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 350px 200px 200px 300px;
        grid-gap: 30px;
    }
    &_left,
    &_right {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        position: relative;
        .container {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;

        }
        &_img {
            overflow: hidden;
        }
    }
    &_left {
        &_img {
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }
    &_right {
        &_img {
            position: absolute;
            bottom: -5px;
            right: 0;
        }
    }
    &_item {
        &:nth-child(1) {
            grid-row-start: 1;
            grid-row-end: 1;
        }
        &:nth-child(2) {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        &:nth-child(3) {
            grid-row-start: 1;
            grid-row-end: 1;
        }
        &:nth-child(4) {
            grid-row-start: 2;
            grid-row-end: 5;
        }
        &:nth-child(5) {
            grid-row-start: 3;
            grid-row-end: 5;
        }
        &:nth-child(6) {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        &:nth-child(7) {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }
}