.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 80px;
}
.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 25px;
}
.btn {
    border: 1px solid $main-color;
    background: transparent;
    padding: 10px 25px;
    color: $main-color;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    &-contacts {
        margin-top: 40px;
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}