.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 80px;
}
.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 25px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    background: transparent;
    padding: 10px 25px;
    color: $main-color;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    a {
        color: $main-color;
        text-decoration: none;
    }
    &-contacts {
        margin-top: 40px;
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
    &-projects {
        width: 180px;
    }
}
.links {
    color: $navigation;
    :first-child {
        padding-left: 0;
    }
    a, 
    span {
        color: $navigation;
    } 
    a {
        padding: 0 10px;
    }
    span {
        padding-left: 10px;
    }
}
.descr {
    &_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
    }
    &_list {
        list-style-type: none;
    }
    &_link {
        padding-bottom: 30px;
        a {
            text-decoration: none;
        }
        i {
            color: $main-color;
        }
        span {
            padding-left: 15px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
    }
}
.header-slider-container {
    .clients-projects {
        height: 100vh;
    }
    .footer {
        height: 100vh;
        &_wrapper {
            padding: 150px 0 20px 0;
        }
    }
}